/* Styles de base pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

/* Styles pour l'en-tête */
header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
}

/* Styles pour la section des questions */
section {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les titres des questions */
section h2 {
  font-size: 1.2rem;
}

/* Styles pour les sous-titres des questions */
section h4 {
  font-size: 1rem;
}

/* Styles pour les boutons */
button {
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4388d3;
}

/* Styles pour le pied de page */
footer {
  text-align: center;
}

/* Styles pour les groupes d'éléments de formulaire */
#input-group {
  margin-bottom: 20px;
}

/* Styles pour les étiquettes des boutons radio */
label {
  margin-right: 10px;
}

#clickDot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  display: none; /* Caché par défaut */
}

input[type="radio"].rating10 {
  display: none;
}

input[type="radio"].rating10 + label {
  padding: 0.3rem 0.5rem;
  margin: 0rem;
  border: 1px dashed #ccc;
}

input[type="radio"].rating10:checked + label {
  border: 1px solid #007bff;
  background-color: #007bff;
}

input[type="radio"].rating10:hover + label {
  background-color: #4388d3;
}

#cancer {
  margin-bottom: 20px;
  border: 1px solid blue;
  border-radius: 5px; /* Arrondi des coins de la bordure */
  padding: 10px; /* Ajout de rembourrage à l'intérieur de la bordure */
  margin: 20px 300px 20px 300px;
}

#injury {
  margin-bottom: 20px;
  border: 1px solid orange; /* Ajout de la bordure */
  border-radius: 5px; /* Arrondi des coins de la bordure */
  padding: 10px; /* Ajout de rembourrage à l'intérieur de la bordure */
  margin: 20px 300px 20px 300px;
}

#pain {
  margin-bottom: 20px;
  border: 1px solid red; /* Ajout de la bordure */
  border-radius: 5px; /* Arrondi des coins de la bordure */
  padding: 10px; /* Ajout de rembourrage à l'intérieur de la bordure */
  margin: 20px 300px 20px 300px;
}

#pattern {
  margin-left: 400px;
  text-align: left;
}